td,
th {
    text-align: left;
    font-size: 20px;
    padding: 2px 50px;
    line-height: 30px;
    border-bottom: 1px solid #444a57;
    border-collapse: collapse;
    background-color: #282c34;
    color: rgb(143, 143, 143);
}

p {
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.App {
    text-align: center;
    background-color: #2d323a;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
    padding: 0px 30px;
    display: inline;
}

.avatar {
    width: 10%;
}

.BackButton {
    color: #7196d1;
}

.LinkButton {
    background-color: inherit;
    color: #7196d1;
    font-size: 15px;
    text-align: left;
}

.Link {
    color: rgb(143, 143, 143);
    background-color: #414853;
}

a {
    color: inherit;
    text-decoration: none;
}

.Page {
    background-color: #282c34;
}

.playerData {
    color: rgb(143, 143, 143);
    text-align: left;
    padding-left: 50px;
}

.matches_title {
    padding-left: 50px;
}

.title {
    margin-left: 0;
    margin-right: auto;
    display: inline;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html {
    width: 100%;
    height: 100%;
}
